@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime

<div class="row justify-content-center">
    <div class="col-md-6">
        <canvas id="@ChartId"></canvas>
    </div>
</div>

@code {
    [Parameter]
    public string ChartId { get; set; } = "machineStatusChart";

    [Parameter]
    public int RunningMachines { get; set; }

    [Parameter]
    public int ShutdownMachines { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("createPieChart", ChartId, RunningMachines, ShutdownMachines);
        }
    }
}

